extends layout
//- block stylesheet
//-     style.
//-         .img{ display:block; max-width: 100%; margin: 20px auto;} 
block javascripts    
    script(src='//gw.alipayobjects.com/as/g/h5-lib/alipayjsapi/3.1.1/alipayjsapi.min.js?#{vCode}', type='text/javascript')
          
block content
    button.btn.btn-default#J_btn chooseImage
    img#J_img.img
    script.
        var btn = document.querySelector('#J_btn');
        var img = document.querySelector('#J_img');
        btn.addEventListener('click', function(){       
          ap.chooseImage( {
            count: 1,
            sourceType: ['camera']
          }, function(res){     
            ap.alert(JSON.stringify(res));
            if ( img instanceof HTMLImageElement ) {
              img.src = res.apFilePaths[0];
            }
          });      
        });
        
   
 