.inovice-header {
    padding-bottom: 0;
}
.inovice-explian {
    padding: 0 0.5rem;
    background-color: antiquewhite;
    margin-bottom: 0.35rem;
}
.inovice-explian p {
    font-size: 0.55rem;
    line-height: 1.2rem;
    min-height: 1.2rem;
}
.invoice-list .page-list {
    background-color: #f4f4f4;
}
.invoice-list ul li {
    display: table;
    width: 15rem;
    background-color: #fff;
    margin-bottom: .35rem;
}
.invoice-list-item {
    display: table-cell;
    vertical-align: middle;
}
.unable .invoice-list-info {
    width: 75%;
}
.unable .invoice-list-info p {
    color: #5c5c5c;
    font-size: 0.55rem; 
    line-height: 1.2rem;
}
.unable .invoice-list-btn {
    width: 25%;
    text-align: center;
}
.unable .invoice-list-btn .inovice-price {
    display: inline-block;
    width: 3rem;
    height: 1.2rem;
    border: 1px solid #f05b47;
    color: #f05b47;
    text-align: center;
    line-height: 1.2rem;
    border-radius: 0.15rem;
    font-size: .6rem;
}
.able .invoice-list-info p {
    line-height: 1rem;
}
.able .invoice-list-info .invoice-orderNo{
    font-size: .55rem;
    color: #5c5c5c;
    font-weight: bold;
    line-height: 1.2rem;
}
.able .invoice-list-info .invoice-info-detail {
    color: #666;
    font-size: 0.5rem;
}
.able .invoice-list-btn a {
    display: inline-block;
    height: 1.2rem;
    width: 2.4rem;
    background-color: #f05b47;
    border-radius: 0.15rem;
    color: white;
    text-align: center;
    line-height: 1.2rem;
}
.invoice-list-item__line  {
    height: 0.35rem;
    background-color: #f4f4f4;
    /* border-top: 1px solid #ddd; */
    clear: both;
}
.goods-header li.on a {color:#f00;}

.invoice-layer {
    width: 100%;
    position: fixed;
    bottom: -7.8rem;
    transition: all 0.5s;
    background-color: white;
    border-top: 1px solid #eaeaea;
    z-index: 25;
}
.invoice-layer.show {
    bottom: 0;
}
.invoice-layer-title {
    width: 100%;
    height: 100%;
    height: 2.2rem;
    line-height: 2.2rem;
    text-align: center;
    font-size: 0.7rem;
    color: #3c3c3c;
    position: relative;
}
.invoice-layer__cancel {
    position: absolute;
    right: 0.5rem;
    top: 0;
    font-size: 0.95rem;
    color: #666;
    display: none
}
.invoice-layer.show .invoice-layer__cancel{
    display: block;
}
.invoice-layer-info {
    padding: 0 0.5rem 1rem;
    box-sizing: border-box;
    height: 7.8rem;
}
.invoice-layer-info ul li {
    padding-left: 0.5rem;
    position: relative;
    line-height: .9rem;
    font-size: 0.45rem;
    color: #666666;
    margin-bottom: 0.35rem;
}
.invoice-layer-info ul li::after {
    content: '';
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: .5rem;
    background-color: #4c4c4c;
    left: 0;
    top: 0.3rem;
}
.whiteMask {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 23;
    display: none;
}
