extends ../layout

block stylesheets
    link(rel="stylesheet", href="#{baseUrl}/stylesheets/yearCard.css?#{vCode}")
block javascripts
    script(type="text/javascript", src="#{baseUrl}/javascripts/yearCard.js?#{vCode}")
block content
    .intro
        p 界的旅游胜地。17里湾风景线位于加州中部的蒙特利县，是一处号公路自北向南，赏全美风景，探索绝色美西，全程使用奔驰的驰高顶或 商务轿车提供舒适体验。于加州中部的蒙特利县，是一
        p 色美西17里湾风景线位于加州中部的蒙特利县，是一处闻名世世号公路自北向南，赏全美风景，探索绝色美西，全程使用奔驰的界的旅游胜地。17里湾风景线位于加州中部的蒙特利县，是一处
        p 驰高顶或 商务轿车提供舒适体验。于加州中部的蒙特利县，是一号公路自北向南，赏全美风景，探索绝色美西，全程使用奔驰的色美西17里湾风景线位于加州中部的蒙特利县，是一处闻名世世
        p 号公路自北向南，赏全美风景，探索绝色美西，全程使用奔驰的界的旅游胜地。17里湾风景线位于加州中部的蒙特利县，是一处驰高顶或 商务轿车提供舒适体验。于加州中部的蒙特利县，是一
        p 号公路自北向南，赏全美风景，探索绝色美西，全程使用奔驰的驰高顶或 商务轿车提供舒适体验。