extends ../layout

block stylesheets
  link(rel="stylesheet", href="#{baseUrl}/stylesheets/order.css?#{vCode}")

block content
  .page-line
  if data[0].data.payStatus!="1"
    .pay-results.pay-results-new.fail(style="padding-bottom: 0.5rem; margin-top: 0")
      i.xx-icon.icon-jinxingzhong
      p 订单支付处理中
    .results-info(style='background-color:white') 
  else
    .pay-results.pay-results-new.success(style="padding-bottom: 0.5rem; margin-top: 0")
      i.xx-icon.icon-yuanxingxuanzhongfill      
        p 订单支付成功
  .btn-bottom.pay-result-btn  
    .btn-handle
      a.btn-RP(href='/yearcard/recordd/#{data[0].data.payOrderNo}?m_id=' + merchantInfoId)
        | 查看交易记录
