//- mixin gettargetUrl(type)   
//-     case type
//-         when 'personal'
//-             - _url = '/member'            
//-         when 'home'
//-             - _url = '/'               
//-         when 'shopcart' 
//-             - _url = '/cart'           
//-         when 'ai_p' 
//-             - _url = ''  
//-         when 'order'   
//-             - _url = '/list/order'
//-         when 'groupbooking'   
//-             - _url = '/group/orderList'   
//-         when 'coupon'
//-             - _url = '/coupons/member'
//-         when 'receivecoupons'
//-             - _url = '/coupons/list'
//-         when 'accountcenter'
//-             - _url = '/member/user'
//-         when 'ticket'
//-             - _url = '/list/ticket'
//-         when 'hotel'
//-             - _url = '/list/hotel'
//-         when 'shop'
//-             - _url = '/list/shop'
//-         when 'repast'
//-             - _url = '/list/repast'
//-         when 'route'
//-             - _url = '/list/route'
//-         when 'custompage'
//-             - _url = '/custompage'
//-         when 'customlink'
//-             - _url = ''
            